{
  "extends": "airbnb",
  "globals": {
      "window": true,
      "document": true,
      "localStorage": true
  },
  "rules": {
      "no-param-reassign": [2, { "props": false }],
      "indent": ["error", 2, {"SwitchCase": 1}],
      "no-template-curly-in-string": "off",
      "max-len": "off",
      "no-unused-expressions": ["error", {"allowTernary": true, "allowShortCircuit": true}],
      "no-plusplus": "off",
      "no-mixed-operators": ["error", {"allowSamePrecedence": true}]
  }
}